{"swagger": "2.0", "info": {"title": "Cryptus Web App Jivo Bot", "description": "Description of your API", "termsOfService": "https://www.example.com/policies/terms/", "contact": {"email": "contact@example.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "cryptus-backend.partners-bot.ru", "schemes": ["http"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/calling-operator/": {"post": {"operationId": "calling-operator_create", "description": "Вызов оператора", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["user_id"], "type": "object", "properties": {"user_id": {"description": "ID пользователя", "type": "integer", "example": 1}}}}], "responses": {"201": {"description": "Успешное создание", "schema": {"type": "object", "properties": {"status": {"type": "string", "example": "success"}, "id": {"type": "integer", "example": 1}}}}, "400": {"description": "Неверные параметры"}}, "tags": ["calling-operator"]}, "parameters": []}, "/check-promo-code/": {"get": {"operationId": "check-promo-code_list", "description": "Проверка существования и действительности промокода.", "parameters": [{"name": "code", "in": "query", "description": "Текст промокода", "type": "string"}], "responses": {"200": {"description": "Промокод существует и активен"}, "404": {"description": "Промокод не найден или просрочен"}, "400": {"description": "Параметр code отсутствует"}}, "tags": ["check-promo-code"]}, "parameters": []}, "/cities/": {"get": {"operationId": "cities_list", "description": "Получение списка городов по заданным валютам", "parameters": [{"name": "currency_give", "in": "query", "description": "Код валюты, которую вы хотите отдать", "type": "string"}, {"name": "currency_get", "in": "query", "description": "Код валюты, которую вы хотите получить", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/City"}}}, "400": {"description": "Неверные параметры"}}, "tags": ["cities"]}, "parameters": []}, "/currencies-get/": {"get": {"operationId": "currencies-get_list", "description": "Получение списка доступных направлений обмена валюты", "parameters": [{"name": "give_currency_id", "in": "query", "description": "Идентификатор отдаваемой валюты", "required": true, "type": "integer"}, {"name": "currency_type", "in": "query", "description": "Тип валюты ('BANK' — банковская валюта, 'COIN' — криптовалюта, 'CASH' — наличная)", "required": true, "type": "string"}], "responses": {"200": {"description": "Список доступных направлений обмена", "schema": {"type": "array", "items": {"required": ["id", "name"], "type": "object", "properties": {"id": {"type": "integer", "example": 123}, "name": {"type": "string", "example": "Название группы"}, "cities": {"type": "array", "items": {"type": "object"}, "example": []}, "banks": {"type": "array", "items": {"type": "object"}, "example": []}, "networks": {"type": "array", "items": {"type": "object"}, "example": []}}}}}, "400": {"description": "Ошибка валидации входных параметров"}}, "tags": ["currencies-get"]}, "parameters": []}, "/direction-initial-data/{direction_type}/": {"get": {"operationId": "direction-initial-data_read", "description": "Получить подробный обменный курс и доступные валюты для обмена.", "parameters": [{"name": "direction_type", "in": "path", "description": "Тип направления обмена, состоящий из двух частей ('тип-отдаваемой-валюты - тип-получаемой-валюты')", "required": true, "type": "string", "example": "COIN - BANK"}], "responses": {"200": {"description": "Успешный ответ", "schema": {"type": "object", "properties": {"rate": {"required": ["id", "course", "course_view", "currency_give_min_value", "network", "city", "bank", "direction_type", "currency_give", "currency_get"], "type": "object", "properties": {"id": {"description": "ID направления обмена", "type": "integer"}, "course": {"description": "Текущий курс обмена", "type": "number"}, "course_view": {"description": "Формат отображаемого курса", "type": "string"}, "course_title": {"description": "Название курса", "type": "string"}, "currency_give_min_value": {"description": "Минимальная сумма для обмена", "type": "number"}, "network": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Название сети", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}, "city": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}, "bank": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}, "direction_type": {"description": "Тип направления обмена", "type": "string"}, "currency_give": {"required": ["id", "icon", "name", "cities", "banks", "networks"], "type": "object", "properties": {"id": {"description": "ID отдаваемой валюты", "type": "integer"}, "icon": {"description": "Иконка валюты", "type": "string"}, "name": {"description": "Название валюты", "type": "string"}, "cities": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}}, "banks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}}, "networks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Сеть", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}}}}, "currency_get": {"required": ["id", "icon", "name", "cities", "banks", "networks"], "type": "object", "properties": {"id": {"description": "ID получаемой валюты", "type": "integer"}, "icon": {"description": "Иконка валюты", "type": "string"}, "name": {"description": "Название валюты", "type": "string"}, "cities": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}}, "banks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}}, "networks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Сеть", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}}}}}}, "currencies_give": {"type": "array", "items": {"required": ["id", "icon", "name", "cities", "banks", "networks"], "type": "object", "properties": {"id": {"description": "ID валюты", "type": "integer"}, "icon": {"description": "Иконка валюты", "type": "string"}, "name": {"description": "Название валюты", "type": "string"}, "cities": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}}, "banks": {"type": "array", "items": {"required": ["name", "icon", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}}, "networks": {"type": "array", "items": {"required": ["name", "icon", "id"], "type": "object", "properties": {"name": {"description": "Сеть", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}}}}}, "currencies_get": {"type": "array", "items": {"required": ["id", "icon", "name", "cities", "banks", "networks"], "type": "object", "properties": {"id": {"description": "ID валюты", "type": "integer"}, "icon": {"description": "Иконка валюты", "type": "string"}, "name": {"description": "Название валюты", "type": "string"}, "cities": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}}, "banks": {"type": "array", "items": {"required": ["name", "icon", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}}, "networks": {"type": "array", "items": {"required": ["name", "icon", "id"], "type": "object", "properties": {"name": {"description": "Сеть", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}}}}}}}}, "400": {"description": "Некорректный формат входных данных"}, "404": {"description": "Направление не найдено"}, "500": {"description": "Внутренняя ошибка сервера"}}, "tags": ["direction-initial-data"]}, "parameters": [{"name": "direction_type", "in": "path", "required": true, "type": "string"}]}, "/exchange/": {"post": {"operationId": "exchange_create", "description": "Создание новой записи обмена", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["user_id", "direction_id", "currency_give_amount", "currency_get_amount"], "type": "object", "properties": {"user_id": {"description": "ID пользователя", "type": "integer", "example": 1}, "direction_id": {"description": "ID направления", "type": "integer", "example": 1}, "course": {"description": "Курс направления", "type": "number", "format": "float", "example": 78.91}, "course_title": {"description": "Название направления", "type": "string", "example": "1 Tether BEP20 = 99.99 Тинькофф RUB"}, "currency_give_amount": {"description": "Сумма, которую отдаете", "type": "number", "format": "float", "example": 100.0}, "currency_get_amount": {"description": "Сумма, которую получаете", "type": "number", "format": "float", "example": 90.0}, "card": {"description": "Карта", "type": "string", "example": "1234 5678 9012 3456"}, "wallet": {"description": "Кошелек", "type": "string", "example": "1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee"}, "phone": {"description": "Телефон", "type": "string", "example": "+7987654321"}, "promo_code": {"description": "Промокод", "type": "string", "example": "PROMO"}}}}], "responses": {"201": {"description": "Успешное создание", "schema": {"type": "object", "properties": {"status": {"type": "string", "example": "success"}, "exchange_id": {"type": "integer", "example": 1}}}}, "400": {"description": "Неверные параметры"}}, "tags": ["exchange"]}, "parameters": []}, "/exchanges-other/": {"post": {"operationId": "exchanges-other_create", "description": "Создание новой записи обмена swift", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["user_id"], "type": "object", "properties": {"user_id": {"description": "ID пользователя", "type": "integer", "example": 1}}}}], "responses": {"201": {"description": "Успешное создание", "schema": {"type": "object", "properties": {"status": {"type": "string", "example": "success"}, "id": {"type": "integer", "example": 1}}}}, "400": {"description": "Неверные параметры"}}, "tags": ["exchanges-other"]}, "parameters": []}, "/faqs/": {"get": {"operationId": "faqs_list", "description": "Получить список разделов FAQ и их контента", "parameters": [], "responses": {"200": {"description": "Успешный ответ", "schema": {"type": "array", "items": {"required": ["weight", "title", "faqs"], "type": "object", "properties": {"weight": {"description": "Сортировка", "type": "integer"}, "title": {"description": "Название раздела", "type": "string"}, "faqs": {"description": "Список вопросов и ответов", "type": "array", "items": {"required": ["weight", "title", "description"], "type": "object", "properties": {"weight": {"description": "Сортировка", "type": "integer"}, "title": {"description": "Вопрос", "type": "string"}, "description": {"description": "Ответ", "type": "string"}}}}}}}}, "404": {"description": "Разделы не найдены"}}, "tags": ["faqs"]}, "parameters": []}, "/get-requisites/": {"get": {"operationId": "get-requisites_list", "description": "Получение реквизитов пользователя по user_id и type_req", "parameters": [{"name": "user_id", "in": "query", "description": "ID пользователя", "type": "integer"}, {"name": "type_req", "in": "query", "description": "Тип реквизитов (BANK или COIN)", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UsersRequisites"}}}, "400": {"description": "Неверные параметры"}, "404": {"description": "Реквизиты не найдены"}}, "tags": ["get-requisites"]}, "parameters": []}, "/jivo-messages/": {"get": {"operationId": "jivo-messages_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["jivo-messages"]}, "post": {"operationId": "jivo-messages_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["jivo-messages"]}, "parameters": []}, "/rate/": {"get": {"operationId": "rate_list", "description": "Получить подробный обменный курс и доступные валюты для обмена.", "parameters": [{"name": "currency_give_id", "in": "query", "description": "ID Валюта продажи", "required": true, "type": "integer"}, {"name": "currency_get_id", "in": "query", "description": "ID Валюта покупки", "required": true, "type": "integer"}, {"name": "network_id", "in": "query", "description": "ID сети", "required": false, "type": "integer"}, {"name": "bank_id", "in": "query", "description": "ID банка", "required": false, "type": "integer"}, {"name": "direction_type", "in": "query", "description": "Направление. Пример: COIN - BANK, COIN - CASH, BANK - COIN, CASH - COIN \nПеред и после дифиса пробел!", "required": true, "type": "string"}, {"name": "city_id", "in": "query", "description": "ID Город (опционально)", "required": false, "type": "integer"}], "responses": {"200": {"description": "Успешный ответ", "schema": {"type": "object", "properties": {"rate": {"required": ["id", "course", "course_view", "currency_give_min_value", "network", "city", "bank", "direction_type", "currency_give", "currency_get"], "type": "object", "properties": {"id": {"description": "ID направления обмена", "type": "integer"}, "course": {"description": "Текущий курс обмена", "type": "number"}, "course_view": {"description": "Формат отображаемого курса", "type": "string"}, "course_title": {"description": "Название курса", "type": "string"}, "currency_give_min_value": {"description": "Минимальная сумма для обмена", "type": "number"}, "network": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Название сети", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}, "city": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}, "bank": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}, "direction_type": {"description": "Тип направления обмена", "type": "string"}, "currency_give": {"required": ["id", "icon", "name", "cities", "banks", "networks"], "type": "object", "properties": {"id": {"description": "ID отдаваемой валюты", "type": "integer"}, "icon": {"description": "Иконка валюты", "type": "string"}, "name": {"description": "Название валюты", "type": "string"}, "cities": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}}, "banks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}}, "networks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Сеть", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}}}}, "currency_get": {"required": ["id", "icon", "name", "cities", "banks", "networks"], "type": "object", "properties": {"id": {"description": "ID получаемой валюты", "type": "integer"}, "icon": {"description": "Иконка валюты", "type": "string"}, "name": {"description": "Название валюты", "type": "string"}, "cities": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Город", "type": "string"}, "id": {"description": "ID города", "type": "integer"}}}}, "banks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Банк", "type": "string"}, "id": {"description": "ID банка", "type": "integer"}}}}, "networks": {"type": "array", "items": {"required": ["name", "id"], "type": "object", "properties": {"name": {"description": "Сеть", "type": "string"}, "id": {"description": "ID сети", "type": "integer"}}}}}}}}}}}, "400": {"description": "Некорректный формат входных данных"}, "404": {"description": "Направление не найдено"}, "500": {"description": "Внутренняя ошибка сервера"}}, "tags": ["rate"]}, "parameters": []}, "/user/": {"get": {"operationId": "user_list", "description": "Получение полной информации о пользователе и его транзакциях (общий и активный списки)", "parameters": [{"name": "user_id", "in": "query", "description": "ID пользователя", "type": "integer"}], "responses": {"200": {"description": "Информация о пользователе и его транзакциях", "schema": {"type": "object", "properties": {"user_data": {"type": "object", "properties": {"profile_picture": {"type": "string", "example": "https://example.ru/profile_pictures/user_id_profile_pic.jpg"}, "name": {"type": "string", "example": "Иванов Иван Иванович"}, "email": {"type": "string", "example": "example@mail.com"}, "phone": {"type": "string", "example": "+79991234567"}}}, "requests_in_process": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "Номер заявки"}, "date": {"type": "string", "format": "date-time", "example": "2023-10-01T12:00:00Z"}, "course": {"type": "number", "format": "float", "example": 0.9}, "currency_give": {"type": "object", "properties": {"amount": {"type": "number", "format": "float", "example": 100.0}, "name": {"type": "string", "example": "Tether"}, "icon": {"type": "string", "example": "/path/to/icon.png"}, "network": {"type": "string", "example": "TRC20"}, "bank": {"type": "string", "example": "Райффайзен"}}}, "currency_get": {"type": "object", "properties": {"amount": {"type": "number", "format": "float", "example": 90.0}, "name": {"type": "string", "example": "RUB"}, "icon": {"type": "string", "example": "/path/to/icon.png"}, "network": {"type": "string", "example": "TRC20"}, "bank": {"type": "string", "example": "Райффайзен"}}}, "direction_type": {"type": "string", "example": "COIN - BANK"}, "wallet": {"type": "string", "example": "TPAgKfYzRdK83Qocc4gXvEVu4jPKfeuer5"}, "card": {"type": "string", "example": "1234 5678 9012 3456"}, "city": {"type": "string", "example": "Москва"}}}}, "requests_all": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "Номер заявки"}, "date": {"type": "string", "format": "string", "example": "12:00 01.01.2025"}, "course": {"type": "number", "format": "float", "example": 0.9}, "currency_give": {"type": "object", "properties": {"amount": {"type": "number", "format": "float", "example": 100.0}, "name": {"type": "string", "example": "Tether"}, "icon": {"type": "string", "example": "/path/to/icon.png"}, "network": {"type": "string", "example": "TRC20"}, "bank": {"type": "string", "example": "Райффайзен"}}}, "currency_get": {"type": "object", "properties": {"amount": {"type": "number", "format": "float", "example": 90.0}, "name": {"type": "string", "example": "RUB"}, "icon": {"type": "string", "example": "/path/to/icon.png"}, "network": {"type": "string", "example": "TRC20"}, "bank": {"type": "string", "example": "Райффайзен"}}}, "direction_type": {"type": "string", "example": "COIN - BANK"}, "wallet": {"type": "string", "example": "TPAgKfYzRdK83Qocc4gXvEVu4jPKfeuer5"}, "card": {"type": "string", "example": "1234 5678 9012 3456"}, "city": {"type": "string", "example": "Москва"}}}}}}}, "404": {"description": "Пользователь не найден"}}, "tags": ["user"]}, "parameters": []}, "/user/update/": {"post": {"operationId": "user_update_create", "description": "Обновление информации о пользователе", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["user_id"], "type": "object", "properties": {"user_id": {"description": "ID пользователя", "type": "integer", "example": 1}, "full_name": {"description": "ФИО пользователя", "type": "string", "example": "Иванов Иван Иванович"}, "phone": {"description": "Номер телефона", "type": "string", "example": "+79991234567"}, "email": {"description": "Электронная почта", "type": "string", "example": "example@mail.com"}}}}], "responses": {"200": {"description": "Успешное обновление", "schema": {"type": "object", "properties": {"user_id": {"type": "integer", "example": 1}, "full_name": {"type": "string", "example": "Иванов Иван Иванович"}, "phone": {"type": "string", "example": "+79991234567"}, "email": {"type": "string", "example": "example@mail.com"}}}}, "404": {"description": "Пользователь не найден"}, "400": {"description": "Неверные параметры"}}, "tags": ["user"]}, "parameters": []}}, "definitions": {"City": {"required": ["title"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "api_id": {"title": "API ID", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "weight": {"title": "Сортировка (Вес)", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "title": {"title": "Наименование", "type": "string", "maxLength": 100, "minLength": 1}}}, "UsersRequisites": {"required": ["user"], "type": "object", "properties": {"user": {"title": "User", "type": "integer"}, "type_req": {"title": "Тип реквизитов", "type": "string", "enum": ["BANK", "COIN"], "x-nullable": true}, "get_to": {"title": "Номер карты/Адрес кошелька", "type": "string", "maxLength": 100, "x-nullable": true}}}}}